<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <script src="/static/js/login.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap" rel="stylesheet"> 
	<title>Login page</title>
</head>
<body>
	<form method="POST">
		<div class="container flex">
			<div class="login">
				<div class="block1 flex">WELCOME</div>
				<div class="block2">
					<p class="text">User name:</p>
					<div class="flex">
						<p class="icon"><i class="fas fa-user text"></i></p>
						<input class="username" type="" name="user" placeholder="User name">
					</div>
				</div>
				<div class="block3">
					<p class="text">Password:</p>
					<div class="flex ">
						<p class="icon"><i class="fas fa-key"></i></p>
						<input id = "mypass" class="password" type="password" name="pass" placeholder="Password">
					</div>
				</div>
				<div class="show">
					<input class = "hidden" type="checkbox" onclick="togglepass()">
					<p class="text small">Show your password</p>
				</div>
				<div class="block4 flex">
					<input class="logbut" type="submit" name="Login" placeholder="Login">
				</div>
				<div class="block5 flex">
					<button value="abc">abc</button>
					<div class="forgot flex">Forgot</div>
					<div class="signin flex">Sign in</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>